.social-login  
    button.social-login__github
        a(href=routes.github)
            span.social-login__span
                i.fab.fa-github 
            |Continue with Github
    button.social-login__facebook
        span.social-login__span
            i.fab.fa-facebook
        |Continue with Facebook