.videoPlayer {
  position: relative;
  video {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .videoPlayer__column:first-child {
      align-self: center;
      margin-left: 10px;
    }
    .videoPlayer__column:last-child {
      justify-self: end;
      margin-right: 10px;
      display: flex;
      align-items: center;
      span:first-child {
        span:first-child {
          margin-right: 4px;
        }
        span:last-child {
          margin-left: 4px;
        }
      }
      span:nth-child(2),
      span:last-child {
        margin-left: 10px;
      }
      .videoPlayer__volume {
        width: 100%;
        padding: 0;
      }
      // .videoPlayer__volume {
      //   position: absolute;
      //   padding: 0;
      //   opacity: 1;
      //   top: -60px;
      //   right: 13px;
      //   transform: rotate(-90deg);
      //   z-index: 10;
      //   width: 80px;

      //   input {
      //     background-color: rgba(0, 0, 0, 0.7);
      //     &::-webkit-slider-runnable-track {
      //       background-color: $grey;
      //       height: 5px;
      //     }
      //     &::-webkit-slider-thumb {
      //       all: unset;
      //       background-color: $red;
      //       height: 15px;
      //       width: 15px;
      //       border-radius: 50%;
      //       position: relative;
      //       top: -5px;
      //     }
      //   }
      // }
    }

    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
}
