.videoBlock {
  video {
    max-width: 100%;
  }
  .video__wrapper {
    margin-bottom: 10px;
    position: relative;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .hidden {
    display: none;
  }
  .showing {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
