.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  .video__info {
    width: 100%;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 25px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__thumbnail {
    width: 500px;
    height: 300px;
  }
  .video__comments {
    width: 100%;
    margin: 25px 0;
    .video__comment-number {
      font-size: 18px;
      font-weight: 500;
    }
    .add__comment > input {
      max-width: 70%;
      margin-top: 10px;
      cursor: text;
      border-bottom: 1px solid;
      border-radius: 0;
      background-color: $grey;
      padding-bottom: 4px;
    }
    .video__comments-list {
      li:first-child {
        margin-top: 20px;
      }
      li {
        width: 50%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background-color: hsl(212, 53%, 82%);
        border-bottom-left-radius: 0;
        padding: 5px;
        margin: 10px 5px;
        display: flex;
        justify-content: space-between;
        span {
          margin-left: 10px;
        }
        div {
          margin-right: 5px;
          border: 1px solid hsl(213, 59%, 65%);
          border-radius: 7px;
          padding: 2px;
          &:hover {
            border: 1px solid #ea232c;
          }
          i {
            color: $red;
            cursor: pointer;
          }
        }
      }
    }
  }
}
